:root{ 
--main-color: white;
--accent-color: #0096FF;
--body-color: #CFD2CF;

}
p{ 
  font-weight: 700;
}
input:focus {

    border-style: none;
    outline: none;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}    

h1{ 
    color: var(--main-color);
    font-size: 1.5rem;


}
.userName { 
  font-size: 2rem;
}
.sidebarItems:hover{
    transition-duration: 30ms;
    transform: scale(1.1);

}
.sidebarItems > h1:hover{
    
    cursor: pointer;

}
.sidebarItems > h1:active { 
  transform: scale(0.9);
}

.container {
    display: grid;
    grid-template-rows: repeat(6, 10.6rem) ;
    grid-template-columns: repeat(9, 10rem) ;
  }
  

  .header { 
    display: flex;
    justify-content: space-between;
    grid-column-start: 3;
    grid-column-end: 11;
   
  }

  #search{ 
    height: 2rem;
    width: 35rem;
    background-color: var(--body-color);
    border-radius: 25px;
    border-style: none;
    text-align: center;
  }



  .sideBar {
    background-color: var(--accent-color);
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  

 
  .dashboard {
    margin-top: 8%;
    /* margin-bottom: 25%; */
  }

  .dashboard > h1 {
    font-size:2rem;
    margin-left: 2%;
  }
  

  .sidebarItems { 
    display:flex;
    align-items:center;
    /* justify-content: center; */

    margin-left: 15%;
    

  }

  img {
   
    margin-bottom: 2%;
    margin-right: 3%;
  }


  .headerLeft {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    margin-left: 3%;
    width: 40%;
  }
  .kenma { 
    border-radius: 100%;
  }


  .userStatus { 
    display: flex;
    align-items:center;
    width: 100%;

  }

  .kenma:hover{ 
    transform: scale(1.05);
    cursor: pointer;
  }
  .kenma:active { 
    transform: scale(0.9);
  }


 .headerRight{
display: flex;
flex-direction: column;
justify-content: space-between;
margin-right: 3rem;

 }
  .headerRightTop {
    display: flex;
    margin-top: 1%;
    justify-content: right;
    align-items: center;
    gap: 1rem;
  }

  .headerRightTop > *:hover{ 
    transform: scale(1.05);
    cursor: pointer;
  }
  .headerRightTop >  :active { 
    transform: scale(0.9);
  }
  .headerRightBottom  {
  margin-right: 12px;
  margin-bottom: 1rem;
  }

  button {
    border-style: none;
  background-color: var(--accent-color);
  border-radius: 50px;
    width: 7rem;
    height: 3rem;
  font-size: 1rem;
  color: var(--main-color);
  font-weight: 800;
  margin-right: 4rem;
  }

  button:hover { 

    cursor: pointer;
   
  }

  button:active { 
    transform: scale(0.9);
  }

  .content
  {
    
    background-color: var(--body-color);
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 2rem;
    
    
  }


  .card{
    background-color: var(--main-color);
    border: 5px solid #00A4BD;
   
  }

  .card1{
   
    grid-area: 2 / 2 / span 4 / span 4;
    
    
  }

  .card2 { 
    grid-area: 2 / 6 / span 4 / span 4;

  }


  .card3 { 
    grid-area: 6 / 2 / span 4 / span 4;
  }

  .card4 {
    grid-area: 6 / 6/ span 4 / span 4;
  }

  .card5 { 

    grid-area: 10 / 2 / span 4 / span 4;
  }
  
  .card6 { 
    grid-area: 10 / 6 / span 4 / span 4;
  }